.photo-slider {
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    position: relative;
    height: 400px;

    .images {
        img {
            position: absolute;
            left: 350px;
            opacity: 0;
            transition: all 1s;
            z-index: 0;
        }

        .active-image {
            opacity: 1;
            z-index: 1;
        }
    }

    .left-arrow {
        position: absolute;
        left: 355px;
        top: 195px;
        z-index: 2;
    }

    .right-arrow {
        position: absolute;
        right: 355px;
        top: 195px;
        z-index: 2;
    }

    .icons {
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
}